.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;

  background: #ffffff;
  border-top: 1px solid #e5e7eb;

  padding: 0px 0;
  z-index: 1000;
}

.nav-item {
  background: none;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  font-size: 12px;
  color: #6b7280;

  padding: 6px 12px;
}

.nav-item i {
  font-size: 20px;
}

.nav-item.active {
  color: #0d6efd; /* Bootstrap primary */
  font-weight: 600;
}

.nav-item.active i {
  transform: scale(1.1);
}
